@media (max-width: 120rem) {
    .container {
        max-width: 101.2rem;
    }

    .promo-slider__wrap {
        max-width: 41rem;
    }
}

@media (max-width: 102.4rem) {
    .container {
        max-width: 85.9rem;
    }

    .promo__descr {
        max-width: 48.8rem;
    }
}

@media (max-width: 83.5rem) {
    .container {
        max-width: 70.6rem;
    }

    .promo__title {
        font-size: 6.6rem;
    }

    .promo__descr {
        max-width: 40.8rem;
    }

    .promo-slider__wrap {
        max-width: 22rem;
    }
}

@media (max-width: 60rem) {
    .container {
        max-width: 55rem;
    }

    .header__nav,
    .header__social {
        display: none;
    }

    .burger {
        display: block;
        position: relative;
        width: 3rem;
        height: 1.8rem;
        cursor: pointer;

        span,
        &::before,
        &::after {
            left: 0;
            position: absolute;
            height: 10%;
            width: 100%;
            transition: all 0.3s;
            background-color: #fff;
        }

        &::before,
        &::after {
            content: '';
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            top: 50%;
            transform: scale(1) translate(0px, -50%);
        }
    }

    .burger__menu {
        display: block;
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.9);
        padding: 10rem 3rem 3rem 3rem;
        transition: left 0.3s ease;
        overflow: auto;
        text-align: center;
        z-index: 3;

        &._active {
            left: 0;
        }

        a {
            font-size: 2rem;
            padding-bottom: 3.4rem;
        }
    }

    .burger__social {
        margin-bottom: 2rem;

        img {
            width: 2.7rem;
            height: 7.6rem;
        }

        &-icon:not(:last-child) {
            margin-right: 4rem;
        }
    }

    .burger__nav {
        display: flex;
        flex-direction: column;

        a {
            color: inherit;
            font-size: 2.4rem;
            text-decoration: none;
            padding-bottom: 4rem;
        }
    }

    .header__nav a:not(:last-child) {
        margin-right: 0;
    }

    .footer__left {
        font-size: 1.1rem;
    }

    .footer__right-item:not(:last-child) {
        margin-right: 1.5rem;
    }

    .footer__right-item a {
        font-size: 1.1rem;
    }
}

@media (max-width: 48rem) {
    .promo {
        padding: 2.4rem 0 5.4rem;
    }

    .promo__wrapper {
        margin-top: 6.5rem;
    }

    .promo__title {
        font-size: 4.5rem;
    }

    .promo__descr {
        max-width: 33rem;
        font-size: 1.3rem;
    }

    .promo__button {
        margin-bottom: 4.5rem;
        font-size: 1.4rem;
        padding: 1.8rem 4.8rem;
    }

    .footer__container {
        flex-direction: column;
    }

    .footer__left {
        margin-bottom: .5rem;
    }
}